body{
    margin: 0%;
}

.main{
    background: rgb(0, 0, 0);
    width:90%;
    height: 80vh;
    border-radius: 15px;

    margin: auto;
    justify-content: center;
    align-items: center;
    transform: translateY(15%);

}
